#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# DH_GOPKG is the upstream path which you would normally “go get”.
# Using it allows us to build applications without patching locations.
export DH_GOPKG := ancient-solutions.com/apps/pasten

override_dh_auto_install:
	install -o root -g 0 -m 0555 -d \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates
	install -o root -g 0 -m 0444 $(CURDIR)/templates/display.tmpl \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates
	install -o root -g 0 -m 0444 $(CURDIR)/templates/paste.tmpl \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates
	install -o root -g 0 -m 0444 $(CURDIR)/templates/error.tmpl \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates
	install -o root -g 0 -m 0444 $(CURDIR)/templates/notfound.tmpl \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates
	
	install -o root -g 0 -m 0555 -d \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/js
	install -o root -g 0 -m 0444 $(CURDIR)/templates/js/jquery.min.js \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/js
	install -o root -g 0 -m 0444 $(CURDIR)/templates/js/bootstrap.min.js \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/js
	
	install -o root -g 0 -m 0555 -d \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/css
	install -o root -g 0 -m 0444 $(CURDIR)/templates/css/bootstrap.min.css \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/css
	install -o root -g 0 -m 0444 $(CURDIR)/templates/css/bootstrap-responsive.min.css \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/css
	
	install -o root -g 0 -m 0555 -d \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/img
	install -o root -g 0 -m 0444 $(CURDIR)/templates/img/glyphicons-halflings.png \
		$(CURDIR)/debian/pasten/usr/share/pasten/templates/img
	
	dh_auto_install -O--buildsystem=golang

%:
	dh $@ --buildsystem=golang --with=golang
