<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xhtml PUBLIC "-//W3C//DTD xhtml 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>{{.Title}}</title>
  <meta name="description" content="A web site displaying the paste {{.Id}}."/>
  <meta name="author" content="pasten.go" />
  <meta name="robots" content="nofollow"/>
 </head>
 <body>
  <h1>{{.Title}} [<a href="/{{.Id}}">Permalink</a>]</h1>
  <p>
  	The following paste has been left by {{.User}} at {{.Time}}:
  </p>
  <p>
   {{.Data}}
  </p>
 </body>
</html>
