<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Error</title>
		<meta name="description" content="A web site saying that an error occurred."/>
		<meta name="author" content="pasten.go" />
		<meta name="robots" content="noindex" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="alert alert-danger">
				<strong>Error</strong>
				{{.|html}}
			</div>
		</div>
	</body>
</html>
