<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Add short link</title>
    <meta name="description" content="A web site for pasting new things."/>
    <meta name="author" content="pasten.go" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="page-header">
      <h1>Paste a new thing</h1>
    </div>
{{if .CsrfFailed}}
    <div id="alert" class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Is somebody trying to trick you?</h4>
      Either you took too long to type in this paste, or somebody is trying
      to trick you into pasting something here, e.g. via a short link.
      Please verify that the data below is what you're trying to paste, then
      click &laquo;Shorten!&raquo;
    </div>
{{end}}
    <form action="/" method="POST" class="form-horizontal">
      <input type="hidden" name="csrftoken" value="{{.CsrfToken}}" />
      <div class="control-group">
        <label class="control-label" for="title">Title:</label>
        <div class="controls">
          <input type="text" id="title" class="span5" name="title" size="64" maxlength="8192" value="{{.Title}}"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="paste">Content:</label>
        <div class="controls">
          <textarea id="paste" class="span5" name="paste" cols="80" rows="8">{{.Data}}</textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" name="btnS" class="btn btn-primary" value="Shorten!"/>
        </div>
      </div>
    </form>
  </body>
</html>
